# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Data and indexes
data/
data/*
data/**

# Node
node_modules/
webapp/frontend/node_modules/
webapp/frontend/.next/

# OS
.DS_Store
Thumbs.db
__pycache__/
*.pyc
.venv/
.env
.vscode/
.DS_Store
*.log
data/raw/*.json
data/processed/*.jsonl
data/index/*.index
data/index/*.pkl
